@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Neucha';
@import 'https://fonts.googleapis.com/css?family=Cuprum|Rubik';
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');


BODY {
    margin: 0 auto;
    color: black;
    background-color: #Fff;
    font-family: 'Cuprum', cursive;
    font-size: 10pt;
}

header {
    margin: 0 auto;
    width: 100%;
    overflow:hidden;
    background-color: #F1F8E9;
}

.logo {
    background: url('../img/shop_header.png');
    width: 15em;
    height: 5.25em;
    background-size:cover;
    float: left;
    background-color:#F1F8E9;
    padding-left:1em;
    display:block;
    margin-left:5%;
}

ul.headerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #558B2F;
    background-color: #F1F8E9;
    margin-right:5%;
}

ul.headerMenu li {
    float:right;
    font-size: 1em;
}

ul.headerMenu li a:link{
    display: inline-block;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
    font-size: 17px;
    color: #558B2F;
    background-color: #F1F8E9;
    transition: background-color .3s;
}


ul.headerMenu li a:visited{
    color: #558B2F;
    transition: background-color .3s;
}

ul.headerMenu li a:hover{
    background-color: #DCEDC8;
}


h1 {
    font-family: 'Amatic SC', cursive;
}

#wrapper {
    margin: 2em auto;
    width: 90%;
}

aside {
    float:left;
    width: 20%;
}
.filter {

}


#sect {
    margin-left: 24%;
}

h2 {
    font-size: 5vh;
}

ul.catalog {
    margin: 0 auto;
}

li.catalog {
    font-size: 3vh;
    display: inline-block;
    width: 15vw;
    margin-bottom: 1vh;
    text-align: center;
}

li.catalog a:link{
    color: cornflowerblue;
}

li.catalog a:hover{
    color:crimson;
}

.filter {
    font-size:14pt;
}

#wrapper2 {
    margin: 1em auto;
    width: 60%;
    font-size:14pt;
}
.flower {
    float:left;
    width:30%;
}

.description{
    margin-left:35%;
}

input[type=number] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-bottom: 0.1em solid red;
    font-size:14pt;
}

select {
    width: 100%;
    padding: 0.5em;
    border: none;
    margin: 0.5em 0;
    background-color: #f1f1f1;
    font-size:14pt;
    font-family: 'Cuprum', cursive;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em;
    text-decoration: none;
    margin: 0.5em 0;
    cursor: pointer;
    font-size:14pt;
}
input[type=text], input[type=password] {
    border: 2px solid red;
    border-radius: 4px;
    padding: 0.5em;
    font-size:14pt;
    margin: 0.5em 0;
    width: 100%;

}
    padding-left:1em;
    display:block;
}

ul.headerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.headerMenu li {
    float:right;
    font-size: 1em;

}

ul.headerMenu li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
    font-size: 17px;
}

li.headerMenu a:hover{
    background-color: #555;
}


h1 {
    font-family: 'Amatic SC', cursive;
}

#wrapper {
    margin: 1em auto;
    width: 90%;
}

aside {
    float:left;
    width: 20%;
}
.filter {

}


#sect {
    margin-left: 24%;
}

h2 {
    font-size: 5vh;
}

ul.catalog {
    margin: 0 auto;
}

li.catalog {
    font-size: 3vh;
    display: inline-block;
    width: 15vw;
    margin-bottom: 1vh;
    text-align: center;
}

li.catalog a:link{
    color: cornflowerblue;
}

li.catalog a:hover{
    color:crimson;
}

.filter {
    font-size:14pt;
}

#wrapper2 {
    margin: 1em auto;
    width: 60%;
    font-size:14pt;
}
.flower {
    float:left;
    width:30%;
}

.description{
    margin-left:35%;
}

input[type=number] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-bottom: 0.1em solid red;
    font-size:14pt;
}

select {
    width: 100%;
    padding: 0.5em;
    border: none;
    margin: 0.5em 0;
    background-color: #f1f1f1;
    font-size:14pt;
    font-family: 'Cuprum', cursive;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em;
    text-decoration: none;
    margin: 0.5em 0;
    cursor: pointer;
    font-size:14pt;
}
input[type=text], input[type=password] {
    border: 2px solid red;
    border-radius: 4px;
    padding: 0.5em;
    font-size:14pt;
    margin: 0.5em 0;
    width: 100%;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.submit_buy{
    margin:0 auto;
    width: 20%;
    font-size:14pt;
}
.buy {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    margin: 1em 1em;
    cursor: pointer;
    transition-duration: 0.4s;
}
.buy:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}